<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DDI-CDI Sample generator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <h1>DDI-CDI sample generator</h1>
    
    <div id="app">
        <textarea v-model="rawData" rows="7" style="font-family: monospace;" disabled></textarea>
        <div v-for="column in columns">
            <code v-html="column.label"></code>
            <input type="text" v-model="column.description" />
            <select v-model="column.role">
                <option v-for="role in cv.colRoles" :value="role.id">{{ role.id }}</option>
            </select>
            <select v-model="column.type">
                <option v-for="type in cv.colTypes" :value="type.id">{{ type.id }}</option>
            </select>
        </div>
        <h5>JSON-debug</h5>
        <pre v-html="jsonDebug"></pre>
    </div>

    <script src="js/app.js"></script>
</body>
</html>



