<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DDI-CDI Sample generator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="css/application.css">
    <script src="js/lib/utils.js"></script>
</head>
<body>
    <h1>DDI-CDI sample generator for multi-dimensional data tables</h1>
    
    <div id="app">
        <textarea v-model="input.raw" class="csvContent" disabled></textarea>
		
		<div class="upload">
			<label  id="csvFileLabel" for="csvFile">Select a CSV file</label>
			<input type="file" id="csvFile" name="csvFile"/>
			<input type="checkbox" id="headerRowIncl" name="headerRowIncl"/>
			<label  id="headerRowInclLabel" for="headerRowIncl">header row incl.</label>
		</div>
		
		<div class="columnEditingWrapper">
			<div v-for="column in columns" class="columnEditing">
				<input type="text" style="width: 20%;" v-model="column.displayLabel" class="displayLabel"></code>
				<input type="text" v-model="column.descriptiveText" class="descriptiveText"/>
				<select v-model="column.role" class="role">
					<option v-for="role in cv.colRoles" :value="role.id">{{ role.id }}</option>
				</select>
				<select v-model="column.hasIndendedDataType" class="IntendedDataType">
					<option v-for="type in cv.colTypes" :value="type.id">{{ type.label }}</option>
				</select>
			</div>
		</div>
        
        <h5>DDI-CDI json-ld 🐛 (debug)</h5>
        <pre v-html="cdiOutput" class="jsonResult"></pre>
    </div>

    <script src="js/app.js"></script>
</body>
</html>